@{
    ViewData["Title"] = "Barber Shop Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Barber Shop</h1>
    <img src="~/img/main.png" alt="Barber Shop Logo" class="img-fluid" style="max-width: 400px;">
    <p>Descubre la experiencia única de nuestra barbería, donde la tradición se une con la modernidad para brindarte un servicio excepcional.</p>
</div>