@{
    ViewData["Title"] = "Política de Privacidad";
}
<link rel="stylesheet" href="~/css/privacy-policy.css" />

<h1>@ViewData["Title"]</h1>

<p>En Barber Shop, valoramos y respetamos tu privacidad. A continuación, te proporcionamos información detallada sobre cómo manejamos tus datos personales.</p>
