@{
    ViewData["Title"] = "Política de Privacidad";
}
<link rel="stylesheet" href="~/css/privacy-policy.css" />

<h1>@ViewData["Title"]</h1>
<br>

<h3>Reglas de Privacidad de Barber Shop</h3>
<br>

<h5>La Regla del Candado Digital</h5>
<p>En Barber Shop, consideramos tu privacidad como un tesoro. Utilizamos las últimas medidas de seguridad para proteger tus datos personales, asegurándonos de que estén tan seguros como si estuvieran bajo llave y candado digital.</p>
<br>
<br>

<h5>La Regla de Confidencialidad Garantizada</h5>
<p>Nuestro compromiso es mantener tus datos en la más estricta confidencialidad. No los compartiremos, venderemos ni revelaremos a nadie sin tu consentimiento expreso. Tu información es tuya y solo tuya.</p>
<br>
<br>

<h5>La Regla del Acceso Controlado</h5>
<p>Solo personal autorizado de Barber Shop tiene acceso a tu información. Cada miembro de nuestro equipo está capacitado para tratar tus datos con el más alto nivel de profesionalismo y cuidado. Nos tomamos tu privacidad muy en serio.</p>

