html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #fbf3ef;
    margin-bottom: 60px;
}

img {
    border: 2px solid #0088e0;
    margin: 40px auto;
}

.bg-background-lightblue {
    background-color: #add8e6;
    transition:background-color ease-in 1s;
}

.menu-item {
    border-radius: 3px;
    cursor: pointer;
    transition: background-color ease-out 0.5s;
}

.menu-item:hover {
    background-color: #acc7d5;
    transition: background-color ease-out 0.5s;
}